/* Reset default margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navbar */
#navbar {
    display: flex; /* Using flexbox for alignment */
    background-color: #333;
    padding: 0 20px;
    align-items: center;
    width: 100%; /* Make sure navbar takes full width */
}

/* Logo to the left */
#logo {
    color: #f2f2f2;
    font-size: 20px;
}

/* Navbar links container */
#nav-links {
    display: flex; /* Using flexbox for alignment */
    margin-left: auto; /* Push nav-links to the right */
}

/* Individual links style */
#nav-links a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/* Change color on hover */
#nav-links a:hover {
    background-color: #ddd;
    color: black;
}

/* Account button to the right */
#get_access a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #f2f2f2;
    border-radius: 20px; /* rounded corners */
    margin-left: 10px; /* spacing from other elements */
}

#get_access a:hover {
    background-color: #f2f2f2;
    color: #333;
}

/* Page content */
.content {
    padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement */
.sticky + .content {
    padding-top: 60px;
}
